In [1]:
import numpy as np
import matplotlib.pyplot as plt
from astropy.io import fits
from astropy import constants, units
from astropy.coordinates import Angle
from scipy.optimize import curve_fit
import pandas as pd
import os

In [2]:
rootdir = '/Users/thepoetoftwilight/Documents/CUBS/Data/PG1522+101/'

Load in the photometry catalogs - first MUSE

In [3]:
MUSE_df = pd.read_csv(rootdir+'MUSE/pseudo_gri_photometry.dat')

In [4]:
MUSE_df

,ID,RA,Dec,x,y,pseudo_g_mag,pseudo_r_mag,pseudo_i_mag,z
0,1,231.107296,9.967454,76.8023,29.5341,27.30,26.07,25.50,0.54
1,2,231.105051,9.967208,116.6069,25.0939,27.23,26.56,26.41,0.46
2,3,231.096042,9.966748,276.3172,16.8158,28.91,27.99,27.00,0.96
3,5,231.103970,9.966703,135.7645,16.0164,28.50,27.53,26.87,0.82
4,18,231.103628,9.981773,141.8330,287.2714,24.91,24.42,24.22,0.00
...,...,...,...,...,...,...,...,...,...
75,109,231.109148,9.967285,43.9638,26.4939,29.70,29.05,28.60,-1.00
76,114,231.106211,9.982972,96.0353,308.8459,28.23,27.03,26.34,0.00
77,115,231.107990,9.982978,64.5125,308.9630,29.02,28.73,28.00,-1.00
78,122,231.101477,9.982300,179.9579,296.7565,28.46,28.01,27.95,0.10
79,123,231.097590,9.982204,248.8749,295.0363,28.85,28.41,27.95,-1.00

Next, HST F160W

In [5]:
F160W_df = pd.read_csv(rootdir+'HST_images/f160w_photometry.dat')

In [6]:
F160W_df

        ID          RA       Dec          x         y  f160w_mag
0        1  231.089271  9.957233  1026.9171  157.8502      19.43
1        2  231.090045  9.956782  1010.1237  139.3674      20.07
2        3  231.090317  9.953885  1026.9756   59.1561      21.75
3        4  231.091208  9.952799  1012.3724   22.6274      23.04
4        5  231.088950  9.954643  1056.9227   90.7578      18.60
...    ...         ...       ...        ...       ...        ...
1077  1078  231.097474  9.988867   546.6360  942.3546      23.78
1078  1079  231.103001  9.990440   387.0121  939.5074      23.31
1079  1080  231.109894  9.992215   189.4819  930.9360      21.65
1080  1081  231.100346  9.989033   469.0965  923.3248      20.26
1081  1082  231.115934  9.960269   294.5977   21.5222      23.49

[1082 rows x 6 columns]

Finally, HST F140W

In [9]:
F140W_df = pd.read_csv(rootdir+'HST_images/f140w_photometry.dat')

In [10]:
F140W_df

        ID          RA       Dec          x         y  f140w_mag
0        1  231.087362  9.960261  1042.0133  252.2663      19.63
1        2  231.087681  9.959454  1040.2750  227.9585      18.65
2        3  231.117436  9.965145   203.9400  137.5319      19.66
3        4  231.118888  9.964064   174.4381   96.6139      18.02
4        5  231.091174  9.953225   999.4924   31.9852      22.92
...    ...         ...       ...        ...       ...        ...
1109  1110  231.092237  9.987699   684.4825  949.7799      22.68
1110  1111  231.115955  9.960226   284.1344   17.4685      23.78
1111  1112  231.099320  9.989777   479.3973  947.7029      22.30
1112  1113  231.087397  9.986150   825.7208  947.7474      23.89
1113  1114  231.102143  9.990566   397.9863  945.8177      23.03

[1114 rows x 6 columns]

First, we should join F140W (the largest catalog) with F160W (the next largest catalog). We'll compute the angular separation between all possible pairs of objects using the formula. Below, we present the formalism -

Point 1: ($\alpha_1, \delta_1$), Point 2: ($\alpha_2, \delta_2$)

Angular separation $\phi$ between unit vectors -

$$\cos(\phi) = \hat{r_1} \cdot \hat{r_2}$$

$$\Rightarrow \cos(\phi) = \cos(\delta_1) \cos(\delta_2) \cos(\alpha_1) \cos(\alpha_2) + \cos(\delta_1) \cos(\delta_2) \sin(\alpha_1) \sin(\alpha_2) + \sin(\delta_1) \sin(\delta_2)$$

$$\boxed{\phi = \arccos[ \cos(\delta_1) \cos(\delta_2) \cos(\alpha_1) \cos(\alpha_2) + \cos(\delta_1) \cos(\delta_2) \sin(\alpha_1) \sin(\alpha_2) + \sin(\delta_1) \sin(\delta_2)]}$$

In [11]:
def calc_phi(alpha_1, delta_1, alpha_2, delta_2):
    
    cos_phi = np.dot([np.cos(delta_1)*np.cos(alpha_1), np.cos(delta_1)*np.sin(alpha_1), np.sin(delta_1)],
                      [np.cos(delta_2)*np.cos(alpha_2), np.cos(delta_2)*np.sin(alpha_2), np.sin(delta_2)])
    
    phi = np.arccos(cos_phi)
    
    return phi

We'll define a function to create a grid of angular separations

In [12]:
def calc_phi_grid(df_1, df_2):
    
    # Get RAs and Decs from each dataframe
    df_1_RA = df_1['RA']
    df_1_Dec = df_1['Dec']
    
    df_2_RA = df_2['RA']
    df_2_Dec = df_2['Dec']
    
    # Cast each of them in degrees
    df_1_RA_deg = [a*units.deg for a in df_1_RA]
    df_1_Dec_deg = [a*units.deg for a in df_1_Dec]
    
    df_2_RA_deg = [a*units.deg for a in df_2_RA]
    df_2_Dec_deg = [a*units.deg for a in df_2_Dec]  
    
    # Convert to radians now
    df_1_RA_rad = [a.to(units.rad) for a in df_1_RA_deg]
    df_1_Dec_rad = [a.to(units.rad) for a in df_1_Dec_deg]

    df_2_RA_rad = [a.to(units.rad) for a in df_2_RA_deg]
    df_2_Dec_rad = [a.to(units.rad) for a in df_2_Dec_deg]
    
    # Define a grid of phi values
    phi_grid = np.zeros((len(df_1), len(df_2)))
    
    for i in range(len(df_1_RA_rad)):
        for j in range(len(df_2_RA_rad)):
            
            # Isolate the relevant angles
            df_1_RA = df_1_RA_rad[i]
            df_1_Dec = df_1_Dec_rad[i]

            df_2_RA = df_2_RA_rad[j]
            df_2_Dec = df_2_Dec_rad[j]

            phi = (calc_phi(df_1_RA, df_1_Dec, df_2_RA, df_2_Dec)*units.radian).to(units.arcsecond).value
            
            phi_grid[i,j] = phi
            
    return phi_grid

In [13]:
def calc_match_indices(phi_grid, phi_thresh=1):
    
    # Record the indices of closely separated objects, and also their separation
    match_idx_1 = []
    match_idx_2 = []
    match_phi = []
    
    for i in range(phi_grid.shape[0]):
        for j in range(phi_grid.shape[1]):
            
            phi = phi_grid[i,j]
            
            if(phi<=phi_thresh):
                match_idx_1.append(i)
                match_idx_2.append(j)
                match_phi.append(phi)
                
    return np.array(match_idx_1), np.array(match_idx_2), np.array(match_phi)

In [14]:
phi_grid_HST = calc_phi_grid(F140W_df, F160W_df)

In [15]:
# Get the matching indices for the two HST catalogs
F140W_df_idx, F160W_df_idx, phi_match_HST = calc_match_indices(phi_grid_HST, phi_thresh=.3)

In [16]:
# Now create a copy of the F140W catalog
master_df = F140W_df.copy()

In [17]:
master_df['f160w_mag'] = ['-1.0' for i in range(len(master_df))]
master_df['phi_HST'] = ['-1.0' for i in range(len(master_df))]

In [18]:
# In index locations of the F140W catalog where an F160W object is "nearby"
# Enter the F160W magnitudes, and also the separation of the object
master_df.loc[F140W_df_idx, 'f160w_mag'] = np.array(F160W_df.loc[F160W_df_idx,'f160w_mag'])
master_df.loc[F140W_df_idx, 'phi_HST'] = phi_match_HST

In [19]:
master_df.loc[F140W_df_idx]

,ID,RA,Dec,x,y,f140w_mag,f160w_mag,phi_HST
5,6,231.091250,9.952755,1001.3807,18.7381,21.23,23.04,0.214381
6,7,231.090603,9.954016,1008.0513,57.8965,20.90,21.52,0.129127
7,8,231.090336,9.953856,1016.4481,55.7840,20.46,21.75,0.124471
15,16,231.122162,9.964257,86.0045,75.0198,20.15,20.22,0.222065
18,19,231.093393,9.954185,932.6493,39.6153,20.41,20.53,0.172587
...,...,...,...,...,...,...,...,...
1106,1107,231.100711,9.990497,436.5393,955.6944,23.34,23.25,0.124887
1108,1109,231.086143,9.985973,860.4267,953.2338,23.74,23.64,0.030115
1109,1110,231.092237,9.987699,684.4825,949.7799,22.68,22.17,0.063065
1110,1111,231.115955,9.960226,284.1344,17.4685,23.78,23.49,0.1698
1111,1112,231.099320,9.989777,479.3973,947.7029,22.30,22.56,0.026261

Now, merge in the MUSE catalog

In [20]:
phi_grid_MUSE = calc_phi_grid(master_df, MUSE_df)

In [21]:
master_df_idx, MUSE_df_idx, phi_match_MUSE = calc_match_indices(phi_grid_MUSE, phi_thresh=.3)

In [22]:
master_df_final = master_df.copy()

In [23]:
master_df_final['pseudo_g_mag'] = ['-1.0' for i in range(len(master_df))]
master_df_final['pseudo_r_mag'] = ['-1.0' for i in range(len(master_df))]
master_df_final['pseudo_i_mag'] = ['-1.0' for i in range(len(master_df))]
master_df_final['phi_MUSE'] = ['-1.0' for i in range(len(master_df))]
master_df_final['z'] = ['-1.0' for i in range(len(master_df))]

In [24]:
master_df_final.loc[master_df_idx, 'pseudo_g_mag'] = np.array(MUSE_df.loc[MUSE_df_idx, 'pseudo_g_mag'])
master_df_final.loc[master_df_idx, 'pseudo_r_mag'] = np.array(MUSE_df.loc[MUSE_df_idx, 'pseudo_r_mag'])
master_df_final.loc[master_df_idx, 'pseudo_i_mag'] = np.array(MUSE_df.loc[MUSE_df_idx, 'pseudo_i_mag'])
master_df_final.loc[master_df_idx, 'phi_MUSE'] = phi_match_MUSE
master_df_final.loc[master_df_idx, 'z'] = np.array(MUSE_df.loc[MUSE_df_idx, 'z'])

Here is the final catalog

In [25]:
master_df_final

,ID,RA,Dec,x,y,f140w_mag,f160w_mag,phi_HST,pseudo_g_mag,pseudo_r_mag,pseudo_i_mag,phi_MUSE,z
0,1,231.087362,9.960261,1042.0133,252.2663,19.63,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1,2,231.087681,9.959454,1040.2750,227.9585,18.65,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2,3,231.117436,9.965145,203.9400,137.5319,19.66,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
3,4,231.118888,9.964064,174.4381,96.6139,18.02,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
4,5,231.091174,9.953225,999.4924,31.9852,22.92,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1109,1110,231.092237,9.987699,684.4825,949.7799,22.68,22.17,0.063065,-1.0,-1.0,-1.0,-1.0,-1.0
1110,1111,231.115955,9.960226,284.1344,17.4685,23.78,23.49,0.1698,-1.0,-1.0,-1.0,-1.0,-1.0
1111,1112,231.099320,9.989777,479.3973,947.7029,22.30,22.56,0.026261,-1.0,-1.0,-1.0,-1.0,-1.0
1112,1113,231.087397,9.986150,825.7208,947.7474,23.89,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
1113,1114,231.102143,9.990566,397.9863,945.8177,23.03,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0

In [26]:
# Here are the overlapping entries with MUSE
# Why are there more objects than the MUSE catalog?
master_df_final.loc[master_df_idx]

,ID,RA,Dec,x,y,f140w_mag,f160w_mag,phi_HST,pseudo_g_mag,pseudo_r_mag,pseudo_i_mag,phi_MUSE,z
384,385,231.103198,9.979179,464.7482,631.1636,21.25,21.29,0.030889,30.99,29.68,28.78,0.135865,-1.0
700,701,231.105253,9.969605,489.8975,357.0493,21.57,21.56,0.066136,28.97,28.29,28.08,0.122867,0.38
760,761,231.106653,9.969951,449.8921,354.8981,19.84,19.8,0.041465,30.38,29.28,28.28,0.252465,-1.0

Compile the final catalog

In [27]:
gal_ra_arr = np.array(master_df_final['RA'])
gal_dec_arr = np.array(master_df_final['Dec'])
gal_f160w_mag_arr = np.array(master_df_final['f160w_mag'])
gal_f140w_mag_arr = np.array(master_df_final['f140w_mag'])
gal_pseudo_g_mag_arr = np.array(master_df_final['pseudo_g_mag'])
gal_pseudo_r_mag_arr = np.array(master_df_final['pseudo_r_mag'])
gal_pseudo_i_mag_arr = np.array(master_df_final['pseudo_i_mag'])
gal_z_arr = np.array(master_df_final['z'])

In [28]:
with open(rootdir+'ldss_photometry.dat', 'w') as f:

    f.write('RA,Dec,f160w_mag,f140w_mag,pseudo_g_mag,pseudo_r_mag,pseudo_i_mag,z')

    for i in range(len(gal_ra_arr)):

        f.write('\n'+str(gal_ra_arr[i])+','+
             str(gal_dec_arr[i])+','+
             str(gal_f160w_mag_arr[i])+','+
             str(gal_f140w_mag_arr[i])+','+
             str(gal_pseudo_g_mag_arr[i])+','+
             str(gal_pseudo_r_mag_arr[i])+','+
             str(gal_pseudo_i_mag_arr[i])+','+
             str(gal_z_arr[i]))

Also write the subset of MUSE objects into a separate catalog

In [29]:
master_df_overlap = master_df_final.loc[master_df_idx]

In [30]:
gal_ra_overlap_arr = np.array(master_df_overlap['RA'])
gal_dec_overlap_arr = np.array(master_df_overlap['Dec'])
gal_f160w_mag_overlap_arr = np.array(master_df_overlap['f160w_mag'])
gal_f140w_mag_overlap_arr = np.array(master_df_overlap['f140w_mag'])
gal_pseudo_g_mag_overlap_arr = np.array(master_df_overlap['pseudo_g_mag'])
gal_pseudo_r_mag_overlap_arr = np.array(master_df_overlap['pseudo_r_mag'])
gal_pseudo_i_mag_overlap_arr = np.array(master_df_overlap['pseudo_i_mag'])
gal_z_overlap_arr = np.array(master_df_overlap['z'])

In [31]:
with open(rootdir+'ldss_photometry_subset.dat', 'w') as f:

    f.write('RA,Dec,f160w_mag,f140w_mag,pseudo_g_mag,pseudo_r_mag,pseudo_i_mag,z')

    for i in range(len(gal_ra_overlap_arr)):

        f.write('\n'+str(gal_ra_overlap_arr[i])+','+
             str(gal_dec_overlap_arr[i])+','+
             str(gal_f160w_mag_overlap_arr[i])+','+
             str(gal_f140w_mag_overlap_arr[i])+','+
             str(gal_pseudo_g_mag_overlap_arr[i])+','+
             str(gal_pseudo_r_mag_overlap_arr[i])+','+
             str(gal_pseudo_i_mag_overlap_arr[i])+','+
             str(gal_z_overlap_arr[i]))